<header class="menu">
    <div class="sessao-logo">
        <img src=".../../../../../../assets/imagens/clapperboard.png" alt="logo">
        <a href="teste.html">VisibleFilmes</a>
    </div>

    <section class="sub-menu-filtro">
        <div class="separete-options">
            <div class="separete-categ">

                <div class="card-categ">
                    <a href="">Terror</a>
                </div>

                <div class="card-categ tam-m">
                    <a href="">Comédia</a>
                </div>

                <div class="card-categ tam-m">
                    <a href="">Romance</a>
                </div>

                <div class="card-categ">
                    <a href="">Ação</a>
                </div>

                <div class="card-categ tam-m">
                    <a href="">Suspense</a>
                </div>

                <div class="card-categ">
                    <a href="">Infantil</a>
                </div>

            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Busque seu filme" />
                <img src="../../../../assets/imagens/search.png" id="btnBusca" alt="ícone que indica lupa de busca" />
            </div>
        </div>

    </section>

</header>