<main class="conteup-film">
    <section class="sessao-options-films">
        
        <img src="../../../../assets/imagens/left-arrow.png" alt="ícone de seta esquerda">

        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/filme-simplesmenteacontece.jpg" alt="Capa do filme">
            <div id="info-film">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>


        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/marte.jpg" alt="Capa do filme">
            <div id="info-film">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>

        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/rezar.amar,comer.jpg" alt="Capa do filme">
            <div id="info-film">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>

        <img src="../../../../assets/imagens/next.png" alt="ícone seta direita">

    </section>

    <section class="sessao-options-films">

        <img src="../../../../assets/imagens/left-arrow.png" alt="ícone de seta esquerda">

        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/familiabusca.jpg" alt="Capa do filme">
            <div id="info-film" class="infom2">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>


        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/derepente30.jpg" alt="Capa do filme">
            <div id="info-film" class="infom2">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>

        <div class="card-Film">
            <img id="imagemFilme" src="../../../../assets/imagens/procurandonemo.jpg" alt="Capa do filme">
            <div id="info-film" class="infom2">
                <div class="cx-info title-categ">
                    <p>Nome filme</p>
                    <p>Categoria do filme</p>
                </div>

                <div class="cx-info avali-deth">
                    <div class="sessao-avalia">
                        <p>Avaliação</p>

                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5</p>
                        </div>

                    </div>

                    <a id="abrirModal" href="#modal-detelhe-film">Ver mais detalhes</a>
                </div>

            </div>


        </div>

        <img src="../../../../assets/imagens/next.png" alt="ícone seta direita">

    </section>
</main>


