/* footer */
.footer{display: flex; justify-content: center; align-items: center; height: 6vh;}
.footer > p{color: var(--cinza); font-size: 17px; text-align: center; margin:0}
.footer > p >span{color: var(--vermelho);}