
/* modal  */
.modal{
    display: none;
    width: 67vw;
    height: 75vh;
    position: fixed;
    top: 128px;
    left: 16%;
    right: 0;
    bottom: 0;
    background: rgba(61, 61, 61, 0.644);}

#sairModal > img {
    height: 2vh;
    position: absolute;
    background: none;
    left: 65vw;
    top: 6px;}

.sessao-modal-cx{
    display: flex;
    width: 67vw;
    height: 75vh;}