<section id="modal-detelhe-film" class="modal">

    <section class="sessao-modal-cx">
        <div class="sobre-film">

            <h1>Filme</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis animi dolores reprehenderit
                dolore
                repellat commodi similique rem provident sint quaerat, ducimus asperiores tempore magnam cum
                incidunt
                explicabo quidem corrupti nobis.</span>

            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis animi dolores reprehenderit
                dolore
                repellat commodi similique rem provident sint quaerat, ducimus asperiores tempore magnam cum
                incidunt
                explicabo quidem corrupti nobis.</span>

                <div class="film-msf">
                    <div class="separete-categ-m2"><p>romance</p></div>
        
                    <div class="separete-avali-m2">
        
                        <div class="cx-avalia">
                            <p><img src="../../../../assets/imagens/star.png" alt="ícone que indica Avaliação"> 5,5 avaliado</p>
        
                        </div>
                    </div>
                </div>
        </div>
        <div class="cx-Film">
            <a href="teste.html" id="sairModal"><img src="../../../../assets/imagens/close.png" alt="ícone indicando sair"></a>
            <div class="imagemFilme"><img src="../../../../assets/imagens/filme-simplesmenteacontece.jpg" alt="Capa do filme"></div>
        </div>


    </section>
</section>